body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: rgb(182, 241, 241);
    color: black;
    text-align: center;
    padding: 30px;
}

section {
    padding: 30px;
    margin: 20px auto;
    max-width: 900px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #0f172a;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0f172a;
    color: white;
}
